@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to DovOn Logger</h1>
    <p>Select above menu item(s) to test logger message</p>
</div>
