@page
@using SinkApp.Model;
@model List<DisplayMessage>
@{
}
<div class="text-center">
    <h1 class="display-4">Welome to Client</h1>
    @foreach (var obj in Model)
    {
        <p>@obj.Message</p>
    }
</div>